body {
    background-color: #1F1B24;
    color: #FFC500;
}

a {
    color: orange;
}


h1 {
    color: red;
    font-family: SansSerif;
}

h2 {
    text-decoration: underline;
}

.line_border {
    list-style-position: inside;
    border: 5px solid #884c12;
    display: inline-block;
    /*border-color: #e8ae14;*/
}