@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #1F1B24;
    color: #FFC500;
}

a {
    color: orange;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td, tr, th {
    border: solid;
    border-color: grey;
    border-width: 2px;
    padding: 1.5em;
    margin-right: auto;
    margin-left: auto;
}

th {
    color: red;
}

h1 {
    color: red;
    font-family: SansSerif;
    text-align: center;
}

h2 {
    font-family: SansSerif;
    text-align: center;
}